<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-10 col-md-2">
      <%= link_to edit_admin_article_path do %>
        <span class="btn darker-blue-btn pull-right with-20px-margin-top">
          Edit Article
        </span>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default admin-area-table-panel with-20px-margin-top">
        <div class="panel-heading without-fixed-height">
          <h3 class="title">
            <%= @article.title %>
          </h3>
          <strong>Teaser:</strong>
          <span class="">
            <%= raw @article.teaser %><br>
          </span>
        </div>

        <div class="panel-body">

          <div class="row">
            <div class="col-md-6">
              <div class="panel-body">
                <ul class="list-group">
                  <li class="list-group-item">
                    <strong>Intro:</strong>
                  </li>

                  <li class="list-group-item">
                    <%= raw @article.intro %>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-md-6">
              <div class="panel-body">
                <!-- List group -->
                  <ul class="list-group">
                    <li class="list-group-item">
                      <span class="left">
                        Author:
                      </span>
                      <span class="right pull-right">
                        <%= @article.user.name %>
                      </span>
                    </li>
                    <li class="list-group-item">
                      Created At:
                      <span class="right pull-right">
                        <%= @article.created_at.strftime("%b %d, %Y %H:%M") %>
                      </span>
                    </li>
                    <li class="list-group-item">
                      Published:
                      <span class="right pull-right">
                        <%= @article.published_at.present? ? @article.created_at.strftime("%b %d, %Y %H:%M") : "Draft" %>
                      </span>
                    </li>
                    <li class="list-group-item">
                      Tags:
                      <span class="right pull-right">
                        <%= raw get_object_tags(@article) %>
                      </span>
                    </li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <strong>Body:</strong>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= raw @article.body %><br>
        <div>
      </div>
    </div>
  </div>
</div>
