<div class="panel panel-default">
  <div class="panel-body">

    <article class="article-show">
      <div class="article-date">
        <%= @article.published_at.present? ? time_ago_in_words(@article.published_at) : 'draft' %> ago
      </div>
      <%= @article.body.html_safe %>
      <div class="social-buttons">
        <div data-turbolinks-no-cache class="fb-share-button" 
        data-href="<%= request.original_url %>" 
        data-layout="button">
        </div>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <hr id="comments">
      <comments class="comments-section">
        <h4><%= pluralize(@article.comments_count, 'Comment') %>:</h4>

        <div class="row">
          <div class="col-md-12">
            <%= render(partial: 'comments/comment', collection: @comments) %>
          </div>
        </div>

        <div class="row with-less-margin-top">
          <div class="col-md-12">
            <div class="form-group">
              <% if current_user.nil? %>
                <div class="" data-toggle="modal" data-target="#loginModal">
                  <div class="row">
                    <div class="col-xs-1">
                      <i class="fa fa-comment" aria-hidden="true"></i>
                    </div>
                    <div class="col-xs-11">
                      <%= text_area_tag :body, nil, placeholder: "Write a comment...", class: 'form-control comments-input pull-left' %>
                    </div>
                  </div>
                </div>
              <% else %>
                <%= form_for [@article, Comment.new] do |f| %>
                  <div class="row">
                    <div class="col-xs-1">
                      <i class="fa fa-comment" aria-hidden="true"></i>
                    </div>
                    <div class="col-xs-11">
                      <%= f.text_area :body, placeholder: "Write a comment...", class: 'form-control comments-input pull-left' %>
                      <%= f.submit "Add Comment", class: "hidden" %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </comments>
    </article>
  </div>
</div>
