<%= content_for :keywords do %>
  <meta name="keywords" content="<%= @article.title.split(' ').join(", ") %>">
<% end %>
<%= content_for :title  do %>
  <title>PlayerGadget - <%= @article.title %></title>
<% end %>

<div class="main-container container article with-padding-top">
  <div class="row top-articles">
    <div class="col-md-12">
      <%= render partial: 'home/top_articles', locals: { article: @article } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render 'shared/responsive' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <article class="article-show">
        <%= @article.body.html_safe %>
      </article>
      <div data-turbolinks-no-cache class="fb-share-button" 
      data-href="<%= request.original_url %>" 
      data-layout="button">
      </div>
    </div>
    <div class="col-md-4">
      <%= render 'shared/skyscrapper' %>
    </div>
  </div>
</div>
