<%= content_for :keywords do %>
  <meta name="keywords" content="<%= @article.title.split(' ').join(", ") %>">
<% end %>
<%= content_for :title  do %>
  <title>PlayerGadget - <%= @article.title %></title>
<% end %>

<div class="main-container container article with-padding-top">
  <div class="row top-articles">
    <div class="col-md-12">
      <%= render partial: 'home/top_articles', locals: { article: @article } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render 'shared/responsive' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <article class="article-show">
        <%= @article.body.html_safe %>
        <div data-turbolinks-no-cache class="fb-share-button" 
        data-href="<%= request.original_url %>" 
        data-layout="button">
        </div>
        <hr id="comments">
        <comments class="comments-section">
          <h4><%= pluralize(@article.comments_count, 'Comment') %>:</h4>

          <div class="row">
            <div class="col-md-12">
              <%= render(partial: 'comments/comment', collection: @comments) %>
            </div>
          </div>

          <div class="row with-less-margin-top">
            <div class="col-md-12">
              <div class="form-group">
                <% if current_user.nil? %>
                  <div class="" data-toggle="modal" data-target="#loginModal">
                    <div class="row">
                      <div class="col-xs-1">
                        <i class="fa fa-comment" aria-hidden="true"></i>
                      </div>
                      <div class="col-xs-11">
                        <%= text_area_tag :body, nil, placeholder: "Write a comment...", class: 'form-control comments-input pull-left' %>
                      </div>
                    </div>
                  </div>
                <% else %>
                  <%= form_for [@article, Comment.new] do |f| %>
                    <div class="row">
                      <div class="col-xs-1">
                        <i class="fa fa-comment" aria-hidden="true"></i>
                      </div>
                      <div class="col-xs-11">
                        <%= f.text_area :body, placeholder: "Write a comment...", class: 'form-control comments-input pull-left' %>
                        <%= f.submit "Add Comment", class: "hidden" %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </comments>
      </article>

    </div>
    <div class="col-md-4">
      <%= render 'shared/skyscrapper' %>

      <div class="articles-tab-panel">
        <%= render 'articles_tab_panel' %>
      </div>

    </div>
  </div>
</div>
