<div class="main-container">
  <div class="row">
    <div class="main col-md-8">
      <div class="row large-article-row">
        <%= render partial: 'large_article' %>
      </div>
      <div class="row medium-article-row">
        <%= render partial: 'medium_article'%>
      </div>
      <div class="row small-article-row">
        <%= render partial: 'small_article' %>
        <%= render partial: 'small_article' %>
        <%= render partial: 'small_article' %>
      </div>
    </div>
    <div class="side col-md-4">
      <div class="row side-block side-1">
        Advertisement
      </div>
      <div class="row side-block side-2">
        Advertisement
      </div>
      <div class="row side-block side-3">
        Advertisement
      </div>
    </div>
  </div>
</div>
