<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h3 class="users-page-title">
        Highlights
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default admin-area-table-panel with-20px-margin-top">

        <div class="table-responsive">
          <table class="table text-center my-table">
           <!-- table headers -->
           <thead>
             <tr class="panel-heading">
               <th class="text-center">Id</th>
               <th class="text-center">Position</th>
               <th class="text-center">State</th>
               <th class="text-center">Article</th>
               <th class="text-center" colspan="2">Created by</th>
               <th class="text-center">Created at</th>
               <th class="text-center">Actions</th>
             </tr>
           </thead>
           <!-- highlights information -->
           <tbody>
             <% @highlights.each do |hl| %>
               <tr class="info-tr">
                 <td><%= hl.id %></td>
                 <td><%= hl.position.humanize %></td>
                 <td><%= hl.active ? 'Active' : 'Inactive' %></td>
                 <td><%= hl.article.title %></td>
                 <td><%= design_avatar(hl.article.user) %></td>
                 <td class="text-left"><%= hl.article.user.current_name %></td>
                 <td><%= hl.created_at.strftime("%b %d, %Y %H:%M") %></td>
                 <td>
                   <%= link_to edit_admin_highlight_path(hl), remote: true do %>
                     <button type="button" class="btn light-blue-btn">
                       <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
                       Edit
                     </button>
                   <% end %>
                 </td>
               </tr>
             <% end %>
           </tbody>
          </table>
        </div>

      </div>

      <div class="apple_pagination text-center">
        <%= will_paginate @highlights %>
      </div>

    </div>
  </div>

</div>


<!-- Modal -->
<div class="modal fade my-admin-area-modal" id="myModal" tabindex="-1" role="dialog">
</div>
