<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h3 class="users-page-title">
        Highlights
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="table-responsive users-table">
            <table class="table table-striped">
             <!-- table headers -->
             <thead>
               <tr>
                 <th>Id</th>
                 <th>Position</th>
                 <th>State</th>
                 <th>Image</th>
                 <th>Article</th>
                 <th>Created_at</th>
                 <th>Actions</th>
               </tr>
             </thead>
             <!-- companies information -->
             <tbody>
               <% @highlights.each do |hl| %>
                 <tr>
                   <td><%= hl.id %></td>
                   <td><%= hl.position.humanize %></td>
                   <td><%= hl.active ? 'Active' : 'Inactive' %></td>
                   <td><%= hl.image_id %></td>
                   <td><%= hl.article.title %></td>
                   <td><%= hl.created_at.strftime("%b %d, %Y %H:%M") %></td>
                   <td>
                     <%= link_to edit_admin_highlight_path(hl) do %>
                       <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                     <% end %>
                   </td>
                 </tr>
               <% end %>
             </tbody>
            </table>
            <div class="apple_pagination">
              <%= will_paginate @highlights %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
