<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="users-page-title">
        Users
      </h3>
      <div class="panel panel-default admin-area-table-panel with-20px-margin-top">

        <div class="table-responsive users-table">
          <table class="table text-center my-table">
           <!-- table headers -->
           <thead>
             <tr class="panel-heading">
               <th class="text-center" colspan="2">Current Name</th>
               <th class="text-center">Username</th>
               <th class="text-center">Name</th>
               <th class="text-center">Is admin?</th>
               <th class="text-center">Articles</th>
               <th class="text-center">Comments</th>
               <th class="text-center">Created at</th>
             </tr>
           </thead>
           <!-- users information -->
           <tbody>
             <% @users.each do |user| %>
               <tr class="info-tr">
                 <td><%= design_avatar(user) %></td>
                 <td class="text-left"><%= user.current_name %></td>
                 <td><%= user.username %></td>
                 <td><%= user.name %></td>
                 <td><%= user.admin? %></td>
                 <td><%= user.articles.count %></td>
                 <td><%= user.comments.count %></td>
                 <td><%= user.created_at.strftime("%b %d, %Y %H:%M") %></td>
               </tr>
             <% end %>
           </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
