<div class="row">

  <div class="col text-center">
    <div class="form-group text-center">
      <%= link_to user_facebook_omniauth_authorize_path do %>
      <div class="btn-lg btn-block btn-social btn-facebook btn-custom2">
        <i class="fa fa-facebook-official fa-lg fa-fw"></i> Log In With Facebook
      </div>
      <% end %>
    </div>
    <div class="clearfix hr-or-divider">
      <hr class="pull-left">
      <span class="or-with-margin">OR</span>
      <hr class="pull-right">
    </div>

    <div class="form-group">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="form-group login">
          <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"Email Address" %>
        </div>

        <div class="form-group login">
          <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Password" %>
        </div>
        <div class="pull-left">
          <% if devise_mapping.rememberable? -%>
            <div class="checkbox-div">
              <%= f.check_box :remember_me, type:"checkbox" %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
        </div>

        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <div class="pull-right">
            <%= link_to "Forgot password?", new_password_path(resource_name)%>
          </div>
        <% end -%>

        <div class="form-group login-button with-margin-top">
          <%= f.submit "Log in", class:"btn btn-lg btn-block btn-custom" %>
        </div>

      <% end %>
    </div>
  </div>

</div>
