<nav class="navbar navbar-inverse navbar-fixed-top navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="brand my-brand">
        <a class="navbar-brand" href="/">
           <img src="/images/header_logo.png">
        </a>
      </div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <div class="user-avatar-navbar">
                <span class="user-name-navbar blue-link">
                  Welcome, <%= current_user.current_name %>
                </span>
                <span class="caret"></span>
              </div>
            </a>
            <ul class="dropdown-menu inverse-dropdown" role="menu">
              <% if current_user.admin? %>
                <li>
                  <a href="/admin">Admin Area</a>
                </li>
                <li class="divider">
                </li>
              <% end %>
              <li>
                <%= link_to "Account", "/users/account" %>
              </li>
              <li>
                <%= link_to "Logout", main_app.destroy_user_session_path,
                 method: :delete, :class => 'navbar-link'  %>
              </li>
            </ul>
        <% else %>
          <% if can_show_session_links('login') %>
            <li>
              <a href="#" data-toggle="modal" data-target="#loginModal">SIGN IN</a>
            </li>
          <% end %>
          <% if can_show_session_links('signup') %>
            <li>
              <a href="#" data-toggle="modal" data-target="#signUpModal">SIGN UP</a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<% if can_show_session_links('login') %>
  <!-- Login Modal -->
  <%= render 'layouts/login_modal' %>
<% end %>
<% if can_show_session_links('signup') %>
  <!-- SignUP Modal -->
  <%= render 'layouts/sign_up_modal' %>
<% end %>
